<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="BankAccountStoreConnectionString" 
         connectionString="Data Source=ATZWS136448\SQLSERVER2014;Initial Catalog=BankAccountStore;Integrated Security=SSPI" />
    <add name="NEventStoreConnectionString" 
         connectionString="Data Source=ATZWS136448\SQLSERVER2014;Initial Catalog=NEventStore;Integrated Security=SSPI" />
  </connectionStrings>
</configuration>