<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <connectionStrings>

    <!--<add name="EventStoreConnectionString"
         providerName="System.Data.SqlClient"
         connectionString="Data Source=YOUR DATA SOURCE;Initial Catalog=EventStore;Integrated Security=SSPI" />-->
    <add name="BankAccountStoreConnectionString" providerName="System.Data.SqlClient" connectionString="Data Source=YOUR DATA SOURC;Initial Catalog=BankAccountStore;Integrated Security=SSPI" />
    <add name="NEventStore" providerName="System.Data.SqlClient" connectionString="Data Source=YOUR DATA SOURCS;Initial Catalog=NEventStore;User Id=sa;Password=abc!123!ABC;" />


  </connectionStrings>
</configuration>
