@model IEnumerable<BankAccount.ApplicationLayer.Models.BankAccountViewModel>
@{
    ViewBag.Title = "Home Page";
}


<div class="row">
    <fieldset>
        <h4>Choose an account</h4>
        @using (Html.BeginForm())
        {
            <select id="Account" name="Account" class="form-control" style="width: 350px;">
                <option selected>Please choose an account</option>
                @foreach (var acc in Model)
                {
                    <option value="@acc.Id">@acc.Id</option>
                }
            </select>
            <br />
            <input type="submit" value="Submit" class="btn btn-primary" />
            @Html.ActionLink("Add new account", "Add", null, new { @class = "btn btn-default" })
        }

    </fieldset>
</div>