@model System.Collections.Generic.IEnumerable<BankAccount.ViewModels.BankAccountViewModel>
@{
    ViewBag.Title = "Home Page";
}


<div class="row">
    <fieldset>
        <h4>Choose an account</h4>
        @using (Html.BeginForm())
        {
            <select id="Account" name="Account" class="form-control" style="width: 350px; float: left;">
                <option selected>Please choose a customer</option>
                @foreach (var acc in Model)
                {
                    <option value="@acc.Id">@acc.FirstName @acc.LastName</option>
                }
            </select>
            <input type="submit" value="Show customer details" class="btn btn-primary" style="margin-left: 15px;"/>
            <hr/>
            @Html.ActionLink("Add new customer", "Add", null, new { @class = "btn btn-default" })
        }

    </fieldset>
</div>