@model BankAccount.ApplicationLayer.Models.UserViewModel
@{
    ViewBag.Title = "Log In";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .form-group {
        margin: 0;
    }
</style>

<div style="margin: 50px 0;">
    <div style="margin: 0 auto; width: 300px;">
        @using (Html.BeginForm("LogIn", "Home", FormMethod.Post))
        {
            <div class="form-horizontal">
                <div class="form-group">
                    <label>Username</label>
                    <input type="text" id="UserName" name="UserName" class="form-control" />
                </div>
                <br/>
                <div class="form-group">
                    <label>Employee ID</label>
                    <input type="password" id="EmployeeId" name="EmployeeId" class="form-control" />
                </div>
                <br/>
                <div class="form-group">
                    <input type="submit" value="Log In" class="btn btn-primary"/>
                </div>
            </div>
        }
    </div>
</div>